body {

position: relative;
 left: 5%;
width:80%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.par{
top:0px;
z-index:2;
position: relative;
 top: 29px;
 left: 30px;
 font-size:22px;

}
.parbar{
top :0px;
z-index:1;
position:relative;
 top: 0px;
 left: 0px;

}
.title{
position:relative;
 top: 30px;
 left: 0px;
 font-size:25px;

}
.deleat{
z-index:2;
position:relative;
 top: 50px;
 left:95%;

}
#serch{
position:relative;
 top: -60px;
 left:90%;
 font-size:25px;

}
.todo{




}
.tasktitle{
position:relative;
 left:20;
font-size:25px;

}
.taskdeleat{
z-index:2;
position:relative;
 left:96%;
 top:-50px;
}
.tasktodo{
background-color:#ddffdd;
padding:10px 0px 0px 10px;
padding-bottom:-20px;
}
.serchtodo{
background-color:#eeeeff;
padding:10px 0px 0px 10px;




}
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }

#todoname{

font-size:40px;
}
.todotodo{

background-color:#eeeeee;
padding:0px 10px 20px 10px;

}
.isfinish{
position:relative;
top:-55px;
left:80%;
font-size:30px;

}
#wanttext{
position:relative;
top:-30px;
left:15%;
font-size:25px;

}