extends layout

block content
  
  div
  a(href='/')
    img(src='images/rogo.png', alt='サンプル')
  
  div
  serch
  a#serch(href='/serch') 検索
  
  h1 Serch
  
  
  // ToDo入力フォームを作成する
 
  .form
    form#form
      p
        label(for='text') キーワードで検索する場合
      p
        input#text(type='text',name='text',size='50' , maxlength='20',placeholder="検索ワードを入力してください")
        &nbsp;
        &nbsp;
        input(type='button',id='serchbt',value='キーワードでさがす')
      p
        label(for='enddate') 期限の日付で検索する場合
      p
        input#startdate(type='date',name='limit')
        &nbsp;～
        &nbsp;
        input#enddate(type='date',name='limit')
        &nbsp;
        &nbsp;
        input(type='button',id='serchdate',value='日付でさがす')
  #serchword
  #notfound	  
  
  // ToDo一覧を表示する
  .list
  

// jQueryとtodo.jsを読み込む
block scripts
 script(src='javascripts/jquery-2.0.0.min.js')
 script(src='javascripts/serch.js')  