extends layout

block content
  
  div
  a(href='/')
    img(src='images/rogo.png', alt='サンプル')
  
  h1 serch
  
  // ToDo入力フォームを作成する
  label(for='text') 検索する
 
  .form
    form#form
      p
        label(for='text') 
        input#text(type='text',name='text',size='50' , maxlength='20',placeholder="検索ワードを入力してください")
      p#serchbt
        input(type='button',value='キーワード検索')
      p
        label(for='startdate') 開始
        input#startdate(type='date',name='limit')
      p
        label(for='enddate') 終了
        input#enddate(type='date',name='limit')
       p#serchdate
        input(type='button',value='日付検索')
  #notfound	  
  
  
  // ToDo一覧を表示する
  .list
  

// jQueryとtodo.jsを読み込む
block scripts
 script(src='http://code.jquery.com/jquery-2.0.0.min.js')
 script(src='javascripts/serch.js')  